{% assign variants=site.posts | where:"identifier", page.identifier | sort: 'path' %}
{% assign menuitems=site.pages | where:"lang", page.lang %}

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
                <nav>
                    <ul>
        {% for my_page in menuitems %}
          {% if my_page.title %}
          <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
        {% if variants.size > 0 %}
          <li class="lang">
        {% for post in variants %}
        <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
        {% endfor %}
          </li>
        {% endif %}
                    </ul>
                </nav>
            </header>
        </div>
